@import "./card-component.css";
@import "./theme.css";

/* 카드 레이아웃 */

.ipad_pro {
  background: pink
}
.ipad_air {
  background: url(../products/ipad_air.jpeg) center/cover no-repeat;
}

.iphone_15_pro {
  background: url(../products/iphone15_pro.jpeg) center/cover no-repeat;

  .text_container {
    color: var(--white);
  }
}

.iphone_15 {
  background: url(../products/iphone15.jpeg) center/cover no-repeat;
}

.watch {
  background: url(../products/apple_watch.jpeg) center/cover no-repeat;

  .text_container {
    color: var(--white);
  }
}

.macbook_air {
  background: url(../products/macbook_air.jpeg) center/cover no-repeat;
}

.airpods_pro {
  background: url(../products/airpods_pro.jpeg) center/cover no-repeat;

  .text_container {
    color: var(--white);
  }
}

.apple_container {
  display: grid;
  gap: var(--small-spacing);

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);

    .ipad_pro,
    .ipad_air,
    .iphone_15_pro {
      grid-column: 1/-1;
    }
  }
}
